<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <TextArea name="xplatLogAppender">
            <PatternLayout pattern="%m%n"/>
        </TextArea>
        <Async name="Async">
            <AppenderRef ref="xplatLogAppender"/>
        </Async>
        <RollingFile name="file" fileName="/apps/logs/log.log" filePattern="/apps/logs/log_%d{yyyy-MM-dd}_%i.log">
            <PatternLayout pattern=" %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="24"/>
                <SizeBasedTriggeringPolicy size="51200 KB"/>
            </Policies>
            <DefaultRolloverStrategy max="20"/>
        </RollingFile>
    </appenders>
    <loggers>
        <AsyncLogger name="com.caicai.zhangdan.mapper" level="INFO"></AsyncLogger>
        <AsyncLogger name="com.caicai.zhangdan" level="INFO"></AsyncLogger>
        <AsyncRoot level="info">
            <appender-ref ref="console"/>
            <AppenderRef ref="Async"/>
        </AsyncRoot>
    </loggers>
</configuration>