<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.caicai.zhangdan.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.caicai.zhangdan.entity.UserEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="user_name" property="userName" jdbcType="VARCHAR"/>
        <result column="user_code" property="userCode" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="user_image" property="userImage" jdbcType="VARCHAR"/>
        <result column="last_ip" property="lastIp" jdbcType="VARCHAR"/>
        <result column="last_time" property="lastTime" jdbcType="VARCHAR"/>
        <result column="role" property="role" jdbcType="VARCHAR"/>
        <result column="pass_word" property="passWord" jdbcType="VARCHAR"/>
        <result column="email" property="email" jdbcType="VARCHAR"/>
        <result column="create_date" property="createDate" jdbcType="TIMESTAMP"/>
        <result column="delete_flag" property="deleteFlag" jdbcType="CHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, user_name, user_code, user_image,last_ip,last_time,role,phone, pass_word, email, create_date, delete_flag
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from t_user
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_user
    where id = #{id,jdbcType=INTEGER}
  </delete>

    <insert id="insertSelective" parameterType="com.caicai.zhangdan.entity.UserEntity">
        insert into t_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userName != null">
                user_name,
            </if>
            <if test="userCode != null">
                user_code,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="passWord != null">
                pass_word,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="createDate != null">
                create_date,
            </if>
            <if test="deleteFlag != null">
                delete_flag,
            </if>
            <if test="userImage != null">
                user_image,
            </if>
            <if test="lastIp != null">
                last_ip,
            </if>
            <if test="lastTime != null">
                last_time,
            </if>
            <if test="role != null">
                role,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="userName != null">
                #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="passWord != null">
                #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                #{createDate,jdbcType=TIMESTAMP},
            </if>

            <if test="deleteFlag != null">
                #{deleteFlag,jdbcType=CHAR},
            </if>
            <if test="userImage != null">
                #{userImage},
            </if>
            <if test="lastIp != null">
                #{lastIp},
            </if>
            <if test="lastTime != null">
                #{lastTime},
            </if>
            <if test="role != null">
                #{role},
            </if>
        </trim>
    </insert>

    <update id="updateByPrimaryKeySelective" parameterType="com.caicai.zhangdan.entity.UserEntity">
        update t_user
        <set>
            <if test="userName != null">
                user_name = #{userName,jdbcType=VARCHAR},
            </if>
            <if test="userCode != null">
                user_code = #{userCode,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="passWord != null">
                pass_word = #{passWord,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="createDate != null">
                create_date = #{createDate,jdbcType=TIMESTAMP},
            </if>
            <if test="deleteFlag != null">
                delete_flag = #{deleteFlag,jdbcType=CHAR},
            </if>
            <if test="userImage != null">
                user_image = #{userImage},
            </if>
            <if test="lastIp != null">
                last_ip = #{lastIp},
            </if>
            <if test="lastTime != null">
                last_time = #{lastTime},
            </if>
            <if test="role != null">
                role = #{role},
            </if>
        </set>
        where id = #{id}
    </update>
</mapper>